<ul>
  <% @users.each do |user| %>
      <li>
        <%= link_to [:admin, user] do %>
            <%= user.firstname %> <%= user.name %>
        <% end %>
      </li>
  <% end %>
  <br/>
  <%= link_to 'Add a new user', [:new, :admin, :user], :class => 'btn btn-primary' %>
</ul>
